*{
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
}
nav{
  display: flex;
  top:0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(49, 47, 47);
  color: white;
  position: fixed;
  width: 100%;
}
#logo{
  width:120px;
  height: 80px;
  border-radius: 60% 2%;
  margin: 5px;
  background-color: #faf4f0;
}
.nav-links{
  display: flex;
  align-items: center;
}
.nav-links a{
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight:300;
  float:right;
  margin-right: 20px;
  padding:10px;
  font-size:17px;
  font-weight:400;
}
#nav-login{
  border-radius:20px;
  background-color: #e7e4e4;
  display: flex;
  color: #020202;
  justify-content: center;
  width:60px;
  height: 20px;
  align-items: center;
  box-shadow: 3px 3px 2px #d0cccc;
}
#nav-order{
  display: flex;
  background-color: #e8594f;
  color: white;
  height:auto;
  width:fit-content;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 2px #93403a;
}
.header{
  background-color: #faf4f0;
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
  /* height:100vh; */
  display: grid;
  justify-content: center;
  align-items: center;
}
.heading{
  display:flex;
  justify-content: center;
  margin-top:10px;
  margin-left:8%;
padding:20px;

}
.heading h1{
  font-size: xxx-large;
  height:100px;
  width:550px;
  
  /* letter-spacing: 1px; */
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content h5{
  font-size:large;
  font-weight: 200;
  width: 600px;
  text-align: center;
  line-height: 30px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  padding:10px;
  gap: 20px;
}
#order-button{
  display: flex;
  background-color: #e8594f;
  color: white;
  border:#93403a;
  height:40px;
  width:80px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 2px #93403a;

}
#menu-button{
  border-radius:20px;
  background-color: #e7e4e4;
  display: flex;
  border:  #e7e4e4;
  justify-content: center;
  height:40px;
  width:80px;
  align-items: center;
  box-shadow: 3px 3px 2px #d0cccc;

}

.mainImage{
  display: flex;
  margin: 30px auto;
  
  width:100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.mainImage img{
  border-radius: 10px;
  display: block;
  max-height: 1200px;
  height:500px;
  max-width: 1200px;
  width:1000px;
  overflow: hidden;
}

.feature{
  height: 85vh;
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  column-gap: 30px;
  margin-bottom: 30px;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;

}
.leftBox{
  height:auto;
  margin-left: 40px;
  margin-top: 20px;
}
.featureHead{
 display: flex;
 margin-top: 20px;
 font-size: xxx-large;
  height:180px;
  width:550px;
  letter-spacing: 1px;
}
.featureHead h1{
  /* margin-top: 50px; */
  font-size: xxx-large;
  height:70px;
  width:550px;
  
  letter-spacing: 1px;

}
.rightBox img{
  margin-top:70px;
  bottom: 20px;
  border-radius: 10px;
  display: block;
  max-height: 1000px;
  height:450px;
  max-width: 500px;
  width:450px;
  overflow: hidden;
}
.featureContent{
  margin: 0;
  display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
  height:100px;
  width:600px;
  
}
.welcome{
  display: inline;
  
  margin-top: 20px;
  padding-top:20px;
}

.features{
  display: grid;
  
}
li{
  margin:20px;
  padding: auto;
}

.button{
  margin: 20px;
  display: flex;
  gap: 20px;
}

#order{
  width:70px;
  height: 40px;
  border-radius: 20px;
  border: #d0cccc;
  box-shadow: #c0bebe 1px 3px;
}
#order:hover{
  cursor: pointer;
  background-color: #e65147;
  box-shadow: #93403a 1px 3px;
}
#menu{
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: #d0cccc;
  box-shadow: #c0bebe 1px 3px;
}

.features ul{
  list-style: none;
  padding: 0;
}

.features li {
    margin-bottom: 15px;
}

.features i {
    color: #020202;
    width: 25px;
    margin-right: 10px;
}

.featureList{
  height: 110vh;
  display: grid;
  border: 2px solid blue;
  margin:10px;
  padding: 10px;
}
.why{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureList h1,h5{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.boxes{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
  margin-left:70px;
  margin-right:70px;
}
.box1, .box2, .box3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box1 img, .box2 img, .box3 img{
  width: 100%;
  max-width: 375px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 22px;
}

#orderitem{
  display: flex;
  margin-left: 45%;
}
.featureList h1{
  width:770px;
  font-size: xxx-large;
  margin-left: 25%;
  margin-bottom: 10px;
}

#content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin-bottom: 70px;
}

.box1 h3, .box2 h3, .box3 h3{
  margin-top: 30px;
  text-align: center;
  font-size: x-large;
}
.box1 p, .box2 p, .box3 p{
  margin-top: 20px;
  text-align: center;
  font-size: large;
}

.productList{
  height:100vh;
  background-color: rgb(237, 209, 214);
  margin: 10px;
  padding: 10px;
  border-radius: 15% 1%;
}
.menucontent{
  margin:50px;
  padding: 10px;
}

.menucontent h1{
  font-size: xx-large;
}
.sliderBox{
  margin:50px;
  padding: 10px;
}
